# projects
AppUI
AppServer/node_modules
AppServer/dist
AppServer/tmp
AppServer/out-tsc
AppServer/bazel-out

# logs
AppServer/npm-debug.log
AppServer/yarn-error.log

# local server
template.yaml
.aws-sam
.aws-sam/*
.readme
.readme/*