# See http://help.github.com/ignore-files/ for more about ignoring files.
# Private Config
AppServer/config/*
AppServer/.env

# Compiled output
AppUI/dist
AppUI/tmp
AppUI/out-tsc
AppUI/bazel-out

# logs
AppServer/node_modules
AppServer/npm-debug.log
AppServer/yarn-error.log
AppUI/node_modules
AppUI/npm-debug.log
AppUI/yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
