mat-form-field{
    width: 100%;
    display: block;
}
mat-dialog-content{
    padding: 5px 25px;
}
table{
    width: 100%;
    td, th {
        word-wrap: initial;
        display: table-cell;
        padding: 0px 10px;
        line-break: unset;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
    }
    tr{
        display: table-row;
    }
}
.experiences-table{
    td, th {
        width: 33%;
    }
}
mat-spinner{
    margin: 0 auto;
}