<!-- <div class="mat-dialog-header">
	<h2 mat-dialog-title>{{ applicant.firstname + " " + applicant.middlename + " " + applicant.lastname }}</h2>
</div>
<mat-dialog-content>
	<mat-spinner *ngIf="progress"></mat-spinner>
	<div class="progress">
	</div>
	<mat-accordion *ngIf="!progress">
		<mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
			<mat-expansion-panel-header>
				<mat-panel-title> Personal data </mat-panel-title>
			</mat-expansion-panel-header>
			<form [formGroup]="achievementForm" novalidate>
				<mat-grid-list cols="3" rowHeight="70px" gutterSize="10px">
					<mat-grid-tile>
						<mat-form-field appearance="fill">
							<mat-label>Email address</mat-label>
							<input matInput [value]="applicant.email" readonly>
						</mat-form-field>
					</mat-grid-tile>
					<mat-grid-tile>
						<mat-form-field appearance="fill">
							<mat-label>Contact number</mat-label>
							<input matInput [value]="applicant.contactNumber" readonly>
						</mat-form-field>
					</mat-grid-tile>
					<mat-grid-tile>
						<mat-form-field appearance="fill">
							<mat-label>Age</mat-label>
							<input matInput [value]="applicant.age" readonly>
						</mat-form-field>
					</mat-grid-tile>
					<mat-grid-tile>
						<mat-form-field appearance="fill">
							<mat-label>Salary grade</mat-label>
							<input matInput formControlName="salaryGrade">
						</mat-form-field>
					</mat-grid-tile>
					<mat-grid-tile>
						<mat-form-field appearance="fill">
							<mat-label>Place of assignment</mat-label>
							<input matInput formControlName="placeOfAssignment">
						</mat-form-field>
					</mat-grid-tile>
					<mat-grid-tile>
						<mat-form-field appearance="fill">
							<mat-label>Status of appointment</mat-label>
							<input matInput formControlName="statusOfAppointment">
						</mat-form-field>
					</mat-grid-tile>
					<mat-grid-tile>
						<mat-form-field appearance="fill">
							<mat-label>Date of last promotion</mat-label>
							<input matInput [matDatepicker]="picker" formControlName="dateOfLastPromotion">
							<mat-hint>MM/DD/YYYY</mat-hint>
							<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
							<mat-datepicker #picker></mat-datepicker>
						</mat-form-field>
					</mat-grid-tile>
					<mat-grid-tile colspan="2">
						<mat-form-field appearance="fill">
							<mat-label>Eligibility</mat-label>
							<mat-chip-list #eligibilityChipList aria-label="Eligibility Selection">
								<mat-chip *ngFor="let eligibility of eligibilities" (removed)="removeEligibility(eligibility)">
									{{eligibility}}
									<button matChipRemove>
										<mat-icon>cancel</mat-icon>
									</button>
								</mat-chip>
								<input formControlName="eligibility" [matChipInputFor]="eligibilityChipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addEligibility($event)">					
							</mat-chip-list>
							<mat-error *ngIf="achievementForm.controls['eligibility'].hasError('required')">
								Eligibility is <strong>required</strong>
							</mat-error>
						</mat-form-field>
					</mat-grid-tile>
					<mat-grid-tile>
						<mat-form-field appearance="fill">
							<mat-label>Latest IPCR rating</mat-label>
							<input type="number" matInput formControlName="latestIpcrRating" min="0" max="5">
							<mat-error *ngIf="achievementForm.controls['latestIpcrRating'].hasError('required')">
								Latest IPCR rating is <strong>required</strong>
							</mat-error>
							<mat-error *ngIf="achievementForm.controls['latestIpcrRating'].hasError('min') || achievementForm.controls['latestIpcrRating'].hasError('max')">
								Enter a valid <strong>Latest IPCR rating</strong>
							</mat-error>
						</mat-form-field>
					</mat-grid-tile>
					<mat-grid-tile colspan="2">
						<mat-form-field appearance="fill">
							<mat-label>Educational attainment</mat-label>
							<mat-chip-list #educationChipList aria-label="Educational Attainment Selection">
								<mat-chip *ngFor="let education of educationalAttainments" (removed)="removeEducation(education)">
									{{education}}
									<button matChipRemove>
									<mat-icon>cancel</mat-icon>
									</button>
								</mat-chip>
								<input formControlName="educationalAttainment" [matChipInputFor]="educationChipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addEducation($event)">
							</mat-chip-list>
							<mat-error *ngIf="achievementForm.controls['educationalAttainment'].hasError('required')">
								Educational attainment is <strong>required</strong>
							</mat-error>
						</mat-form-field>
					</mat-grid-tile>
				</mat-grid-list>
			</form>
			<mat-action-row>
				<button mat-button color="primary" (click)="nextStep()">Next</button>
			</mat-action-row>
		</mat-expansion-panel>
		<mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
			<mat-expansion-panel-header> 
				<mat-panel-title> Professional / Work Experience </mat-panel-title>
			</mat-expansion-panel-header>

			<form [formGroup]="experiencesForm" #experiencesFormDirective="ngForm" (ngSubmit)="appendExperience(experiencesFormDirective)" novalidate>
				<mat-grid-list cols="3" rowHeight="70px" gutterSize="10px">
					<mat-grid-tile colspan="2">
						<mat-form-field appearance="fill">
							<mat-label>Position / Designation</mat-label>
								<input matInput formControlName="positionDesignation">
							<mat-error *ngIf="experiencesForm.controls['positionDesignation'].hasError('required')">
								Position / Designation is <strong>required</strong>
							</mat-error>
						</mat-form-field>
					</mat-grid-tile>
					<mat-grid-tile>
						<mat-form-field appearance="fill">
							<mat-label>Choose a date From start To end</mat-label>
							<mat-date-range-input [rangePicker]="expicker">
								<input matStartDate placeholder="Start date" formControlName="from">
								<input matEndDate placeholder="End date" formControlName="to">
							</mat-date-range-input>
							<mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
							<mat-datepicker-toggle matSuffix [for]="expicker"></mat-datepicker-toggle>
							<mat-date-range-picker touchUi #expicker></mat-date-range-picker>
						  </mat-form-field>
					</mat-grid-tile>
				</mat-grid-list>
				<mat-dialog-actions align="end">
					<button mat-flat-button color="primary" > Append </button>
				</mat-dialog-actions>
			</form>
			<table mat-table #experiencesTable [dataSource]="experiences" class="experiences-table">
				<ng-container matColumnDef="positionDesignation">
					<th mat-header-cell *matHeaderCellDef>Positin / Designation</th>
					<td mat-cell *matCellDef="let experience">{{experience.positionDesignation}}</td>
				</ng-container>
					<ng-container matColumnDef="from">
					<th mat-header-cell *matHeaderCellDef>From</th>
					<td mat-cell *matCellDef="let experience">{{experience.from | date:'MM/dd/yyyy'}}</td>
				</ng-container>
				<ng-container matColumnDef="to">
					<th mat-header-cell *matHeaderCellDef>To</th>
					<td mat-cell *matCellDef="let experience">{{experience.to | date:'MM/dd/yyyy'}}</td>
				</ng-container>	
				<ng-container matColumnDef="remove">
					<th mat-header-cell *matHeaderCellDef></th>
					<td mat-cell *matCellDef="let experience, let i = index">
						<button mat-icon-button color="warm" (click)="removeExperience(i)"><mat-icon>delete_outline</mat-icon></button>
					</td>
				</ng-container>	
				<tr mat-header-row *matHeaderRowDef="experiencesColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: experiencesColumns;"></tr>
			</table>
			<mat-action-row>
				<button mat-button color="warn" (click)="prevStep()">Previous</button>
				<button mat-button color="primary" (click)="nextStep()">Next</button>
			</mat-action-row>
		</mat-expansion-panel>
		<mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
			<mat-expansion-panel-header>
				<mat-panel-title> Training Programs Attended </mat-panel-title>
			</mat-expansion-panel-header>
			<form [formGroup]="trainingsForm" #trainingsFormDirective="ngForm" (ngSubmit)="appendTraining(trainingsFormDirective)" novalidate>
				<mat-grid-list cols="3" rowHeight="70px" gutterSize="10px">
					<mat-grid-tile colspan="2">
						<mat-form-field appearance="fill">
							<mat-label>Title</mat-label>
								<input matInput formControlName="title">
							<mat-error *ngIf="trainingsForm.controls['title'].hasError('required')">
								Title is <strong>required</strong>
							</mat-error>
						</mat-form-field>
					</mat-grid-tile>
					<mat-grid-tile>
						<mat-form-field appearance="fill">
							<mat-label>Provider / Organizer</mat-label>
								<input matInput formControlName="providerOrganizer">
							<mat-error *ngIf="trainingsForm.controls['providerOrganizer'].hasError('required')">
								Provider / Organizer is <strong>required</strong>
							</mat-error>
						</mat-form-field>
					</mat-grid-tile>
					<mat-grid-tile>
						<mat-form-field appearance="fill">
							<mat-label>Choose a date From start To end</mat-label>
							<mat-date-range-input [rangePicker]="edpicker">
								<input matStartDate placeholder="Start date" formControlName="from">
								<input matEndDate placeholder="End date" formControlName="to">
							</mat-date-range-input>
							<mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
							<mat-datepicker-toggle matSuffix [for]="edpicker"></mat-datepicker-toggle>
							<mat-date-range-picker touchUi #edpicker></mat-date-range-picker>
						  </mat-form-field>
					</mat-grid-tile>
					<mat-grid-tile>
						<mat-form-field appearance="fill">
							<mat-label>Hour(s)</mat-label>
							<input matInput type="number" formControlName="hours">
							<span matSuffix>hours</span>
							<mat-error *ngIf="trainingsForm.controls['hours'].hasError('required')">
								Hour(s) is <strong>required</strong>
							</mat-error>
						</mat-form-field>
					</mat-grid-tile>
					<mat-grid-tile>
						<mat-form-field appearance="fill">
							<mat-label>Type of LD</mat-label>
								<input matInput formControlName="typeOfLD">
							<mat-error *ngIf="trainingsForm.controls['typeOfLD'].hasError('required')">
								Type of LD is <strong>required</strong>
							</mat-error>
						</mat-form-field>
					</mat-grid-tile>
				</mat-grid-list>
				<mat-dialog-actions align="end">
					<button mat-flat-button color="primary" > Append </button>
				</mat-dialog-actions>
			</form>
			<table mat-table #trainingsTable [dataSource]="trainings" class="trainings-table">
				<ng-container matColumnDef="title">
					<th mat-header-cell *matHeaderCellDef>Title</th>
					<td mat-cell *matCellDef="let training">{{training.title}}</td>
				</ng-container>
				<ng-container matColumnDef="providerOrganizer">
					<th mat-header-cell *matHeaderCellDef>Provider / Organizer</th>
					<td mat-cell *matCellDef="let training">{{training.providerOrganizer}}</td>
				</ng-container>
				<ng-container matColumnDef="from">
					<th mat-header-cell *matHeaderCellDef>From</th>
					<td mat-cell *matCellDef="let training">{{training.from | date:'MM/dd/yyyy'}}</td>
				</ng-container>
				<ng-container matColumnDef="to">
					<th mat-header-cell *matHeaderCellDef>To</th>
					<td mat-cell *matCellDef="let training">{{training.to | date:'MM/dd/yyyy'}}</td>
				</ng-container>
				<ng-container matColumnDef="hours">
					<th mat-header-cell *matHeaderCellDef>Hours</th>
					<td mat-cell *matCellDef="let training">{{training.hours}}</td>
				</ng-container>
				<ng-container matColumnDef="typeOfLD">
					<th mat-header-cell *matHeaderCellDef>Learning & Development</th>
					<td mat-cell *matCellDef="let training">{{training.typeOfLD}}</td>
				</ng-container>
				<ng-container matColumnDef="remove">
					<th mat-header-cell *matHeaderCellDef></th>
					<td mat-cell *matCellDef="let training, let i = index">
						<button mat-icon-button color="warm" (click)="removeTraining(i)"><mat-icon>delete_outline</mat-icon></button>
					</td>
				</ng-container>
				<tr mat-header-row *matHeaderRowDef="trainingsColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: trainingsColumns;"></tr>
			</table>
			<mat-action-row>
				<button mat-button color="warn" (click)="prevStep()">Previous</button>
				<button mat-button color="primary" (click)="nextStep()">End</button>
			</mat-action-row>
		</mat-expansion-panel>
	</mat-accordion>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close [disabled]="progress">Cancel</button>
  <button mat-button (click)="onSave()" cdkFocusInitial [disabled]="progress">Save</button>

</mat-dialog-actions> -->
	  <!-- <button (click)="onClose()">close</button> -->