form {
    display: flex;
    flex-direction: column;
    padding-top: 22px;
}
mat-form-field{
    width: 100%;
}
mat-card-actions{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0 7px;
    button{
        width: 200px;
        float: right;
    }
}
a{
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}