<mat-card *ngIf="!confirming">
	<mat-card-title>
		<h2>Signup</h2>
	</mat-card-title>
	<mat-divider></mat-divider>
	<form [formGroup]="signupForm" novalidate>
		<mat-form-field appearance="fill">
			<mat-label>Enter your username</mat-label>
			<input matInput formControlName="username" [errorStateMatcher]="customErrorStateMatcher" placeholder="Ex. Juandelacruz">
			<mat-error *ngIf="signupForm.controls['username'].hasError('required')">
				Username is <strong>required</strong>
			</mat-error>
			<mat-error *ngIf="signupForm.controls['username'].errors?.['minlength']">
				Username should be <strong>greater than 3</strong>
			</mat-error>
			<mat-error *ngIf="signupForm.controls['username'].errors?.['pattern']">
				Username must only have <strong>letters</strong>, <strong>numbers</strong> and <strong>periods</strong>
			</mat-error>
			<mat-error *ngIf="signupForm.controls['username'].hasError('duplicate')">
				Username <strong>{{ this.signupForm.value.username }}</strong> is already exist.
			</mat-error>
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-label>Enter your email</mat-label>
			<input matInput formControlName="email" [errorStateMatcher]="customErrorStateMatcher" placeholder="Ex. Juan@gmail.com">
			<mat-error *ngIf="signupForm.controls['email'].hasError('email')">
				Please enter a valid email address
			</mat-error>
			<mat-error *ngIf="signupForm.controls['email'].hasError('required')">
				Please enter a valid email address
			</mat-error>
			<mat-error *ngIf="signupForm.controls['email'].hasError('duplicate')">
				Email address <strong>{{ this.signupForm.value.email }}</strong> is already exist.
			</mat-error>
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-label>Enter your password</mat-label>
			<input matInput [type]="hidePa ? 'password' : 'text'" formControlName="password" [errorStateMatcher]="customErrorStateMatcher">
			<button mat-icon-button matSuffix (click)="hidePa = !hidePa" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePa" >
				<mat-icon>{{hidePa ? 'visibility_off' : 'visibility'}}</mat-icon>
			</button>
			<mat-error *ngIf="signupForm.controls['password'].hasError('required')">
				Password is <strong>required</strong>
			</mat-error>
			<mat-error *ngIf="signupForm.controls['password'].errors?.['pattern']">
				<!-- Use 8 or more characters with a mix of letters, numbers & symbols -->
				Password must have <strong>8 or more characters</strong> with a mix of <strong>Lowercase letters, Uppercase letters , numbers & symbols</strong>
			</mat-error>
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-label>Confirm your password</mat-label>
			<input [type]="hideRe ? 'password' : 'text'" matInput formControlName="passwordConfirm" [errorStateMatcher]="customErrorStateMatcher" placeholder="" >
			<button mat-icon-button matSuffix (click)="hideRe = !hideRe" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideRe" >
				<mat-icon>{{hideRe ? 'visibility_off' : 'visibility'}}</mat-icon>
			</button>
			<mat-error *ngIf="signupForm.controls['passwordConfirm'].hasError('required')">
				Confirm password is <strong>required</strong>
			</mat-error>
			<mat-error *ngIf="signupForm.controls['passwordConfirm'].errors?.['minlength']">
				Password must be <strong>grater than 7</strong>
			</mat-error>
			<mat-error *ngIf="signupForm.controls['passwordConfirm'].hasError('mustMatch')">
				Confirm password <strong>doesn't match</strong>
			</mat-error>
		</mat-form-field>
	</form>
	<mat-error *ngIf="signupForm.controls['username'].hasError('duplicateBoth')">
		It seems like you have already registered, click <strong><a href="/signin">here</a></strong> to login.
	</mat-error>
	<mat-card-actions>
			<mat-spinner *ngIf="progress"></mat-spinner>
			<button color="accent" mat-raised-button type="submit" (click)="signup()" [disabled]="progress">Signup</button>
	</mat-card-actions>
</mat-card>
<mat-card *ngIf="confirming">
	<mat-card-title>
		Successful
	</mat-card-title>
	<mat-divider></mat-divider>
	<mat-card-content>
		<p>Verification email sent to your account {{ this.signupForm.value.email }}, Please proceed to your email to continue.</p>
	</mat-card-content>
	<mat-card-actions>
		<a [href]="emailDomain" target="_blank" color="accent" mat-raised-button type="submit">Continue</a>
	</mat-card-actions>
</mat-card>