<mat-toolbar color="primary">
    <span>
        <a mat-button routerLink="/"><mat-icon class="icon-display">home</mat-icon>DENR-HR</a>
    </span>
    <span>
        <!-- <a mat-button routerLinkActive="active-link" routerLink="/add">
            Add posts
        </a> -->
        <a mat-button routerLinkActive="active-link" routerLink="/login">
            Login
        </a>
        <a mat-button routerLinkActive="active-link" routerLink="/signup">
            Signup
        </a>
    </span>
</mat-toolbar>