/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.app-title{
	h1{
		background: #3f51b5;
		color: white;
		padding: 25px;
	}
	mat-icon{
		vertical-align: middle;
		margin-bottom: 2px;
	}
}
.container{
	margin: 70px 10%;
}