<div id="app">
	<mat-toolbar color="primary" class="mat-elevation-z5">
		<span>
			<a mat-button routerLink="/">
				<mat-icon class="icon-display">
					home
				</mat-icon>
				JOBS-DENR
			</a>
			<span *ngIf="showAdmin || showSuperUser">
				<a mat-button routerLinkActive="active-link" routerLink="/admin">
					Admin
				</a>
			</span>
			<span *ngIf="showApplicant || showSuperUser">
				<a mat-button routerLinkActive="active-link" routerLink="/user">
					Applicant
				</a>
			</span>
			<span *ngIf="showEvaluator || showSuperUser">
				<a mat-button routerLinkActive="active-link" routerLink="/evaluate">
					Evaluator
				</a>
			</span>
		</span>
		<span *ngIf="!isLoggedIn">
			<a mat-button routerLinkActive="active-link" routerLink="/signin">
				Login
			</a>
			<a mat-button routerLinkActive="active-link" routerLink="/signup">
				Register
			</a>
		</span>
		<span *ngIf="isLoggedIn">
			<a mat-button routerLinkActive="active-link" routerLink="/profile">
				{{username}}
			</a>
			<a mat-button routerLinkActive="active-link" (click)="logout()">
				Log Out
			</a>
		</span>
	</mat-toolbar>
	<div class="container">
		<router-outlet></router-outlet>
	</div>
</div>


