.container{
    margin: 100px 10%;
}
mat-toolbar{
    font-family: Roboto,Helvetica Neue,sans-serif;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    a{
         padding: 0 5px 0 5px;
        &.active-link{
            background-color: #233167;
        }
    }
    .icon-display {
        transform: scale(0.7);
    }
}