form {
    display: flex;
    flex-direction: column;
    padding-top: 22px;
}
mat-form-field{
    width: 100%;
    display: block;
}
textarea {
    height: 80px;
    resize: none;
}
mat-grid-tile{
    border: 1px solid black;
    display: flex;
    justify-content: left;
       
}
.latest-ipcr{
    display: block;
    border: 1px solid black;
}
.date-of-promotion{
    float: left;
    border: 1px solid black;
}
