<!-- <h2 mat-dialog-title>{{ applicant.firstname + " " + applicant.middlename + ". " + applicant.lastname }}</h2> -->
<h2 mat-dialog-title>asd</h2>
<mat-dialog-content>


  <form [formGroup]="applicantForm" novalidate>
		<mat-form-field appearance="fill">
			<mat-label>Eligibility</mat-label>
      <input matInput formControlName="eligibility" placeholder="Placeholder">
			<mat-error *ngIf="applicantForm.controls['eligibility'].hasError('required')">
				Username is <strong>required</strong>
			</mat-error>
			<mat-error *ngIf="applicantForm.controls['eligibility'].hasError('notFound')">
				Cannot find a user <strong>{{ this.applicantForm.value.eligibility }}</strong>
			</mat-error>
		</mat-form-field>
  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="saveClick()" cdkFocusInitial>Save</button>
  <!-- <button (click)="onClose()">close</button> -->
</mat-dialog-actions>
	