.sidenav-container {
	height: 100%;
}
.hidden{
	display: none;
}
.sidenav {
	width: 200px;
	.mat-toolbar {
		background: #3f51b5;
		color: white;
		box-shadow: 3px 0 6px rgba($color: #000000, $alpha: .24);
	}
}
.mat-toolbar.mat-primary {
	position: sticky;
	top: 0;
	z-index: 1;
}
mat-toolbar{
	display: flex;
	justify-content: space-between;
	a{
		padding: 0 15px 0 15px;
		&.active-link{
			background-color: #233167;
		}
	}
	.icon-display {
		transform: scale(0.7);
		vertical-align: middle;
		margin-bottom: 2px;
	}
	.toolbar-title{
		font-size: 14px;
		font-weight: 500;
	}
}
.app-title{
	h1{
		background: #3f51b5;
		color: white;
		padding: 25px;
	}
	mat-icon{
		vertical-align: middle;
		margin-bottom: 2px;
	}
}
.container{
	margin: 70px 10%;
}